<?xml version="1.0" encoding="utf-8"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships" xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main" xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" xmlns:wpsCustomData="http://www.wps.cn/officeDocument/2013/wpsCustomData" mc:Ignorable="w14">
  <w:zoom w:percent="72"/>
  <w:embedTrueTypeFonts/>
  <w:bordersDoNotSurroundHeader w:val="0"/>
  <w:bordersDoNotSurroundFooter w:val="0"/>
  <w:documentProtection w:enforcement="0"/>
  <w:defaultTabStop w:val="720"/>
  <w:displayHorizontalDrawingGridEvery w:val="1"/>
  <w:displayVerticalDrawingGridEvery w:val="1"/>
  <w:noPunctuationKerning w:val="1"/>
  <w:characterSpacingControl w:val="doNotCompress"/>
  <w:footnotePr>
    <w:footnote w:id="0"/>
    <w:footnote w:id="1"/>
  </w:footnotePr>
  <w:endnotePr>
    <w:endnote w:id="0"/>
    <w:endnote w:id="1"/>
  </w:endnotePr>
  <w:compat>
    <w:doNotExpandShiftReturn/>
    <w:doNotWrapTextWithPunct/>
    <w:doNotUseEastAsianBreakRules/>
    <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="15"/>
    <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    <w:compatSetting w:name="differentiateMultirowTableHeaders" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
  </w:compat>
  <w:rsids>
    <w:rsidRoot w:val="00865796"/>
    <w:rsid w:val="00000559"/>
    <w:rsid w:val="0000336F"/>
    <w:rsid w:val="000077E9"/>
    <w:rsid w:val="00007E3D"/>
    <w:rsid w:val="00021B5B"/>
    <w:rsid w:val="00024C21"/>
    <w:rsid w:val="00026F69"/>
    <w:rsid w:val="00031C38"/>
    <w:rsid w:val="000350D3"/>
    <w:rsid w:val="00050D60"/>
    <w:rsid w:val="00051FBF"/>
    <w:rsid w:val="000767C1"/>
    <w:rsid w:val="0008384B"/>
    <w:rsid w:val="00084177"/>
    <w:rsid w:val="00097949"/>
    <w:rsid w:val="000B38A1"/>
    <w:rsid w:val="000C12D7"/>
    <w:rsid w:val="000C6944"/>
    <w:rsid w:val="000E6C8E"/>
    <w:rsid w:val="00125871"/>
    <w:rsid w:val="00127995"/>
    <w:rsid w:val="001300B8"/>
    <w:rsid w:val="00131415"/>
    <w:rsid w:val="00132EF2"/>
    <w:rsid w:val="001427E2"/>
    <w:rsid w:val="00160DBD"/>
    <w:rsid w:val="0016394C"/>
    <w:rsid w:val="00165A14"/>
    <w:rsid w:val="00167BDE"/>
    <w:rsid w:val="00174645"/>
    <w:rsid w:val="0018087D"/>
    <w:rsid w:val="00187F95"/>
    <w:rsid w:val="00195825"/>
    <w:rsid w:val="001965AA"/>
    <w:rsid w:val="001A24F3"/>
    <w:rsid w:val="001B3E28"/>
    <w:rsid w:val="001B437B"/>
    <w:rsid w:val="001B73C0"/>
    <w:rsid w:val="001C1D1D"/>
    <w:rsid w:val="001C402D"/>
    <w:rsid w:val="001C588C"/>
    <w:rsid w:val="001E3636"/>
    <w:rsid w:val="001E6D72"/>
    <w:rsid w:val="001F416F"/>
    <w:rsid w:val="002016D7"/>
    <w:rsid w:val="00210121"/>
    <w:rsid w:val="00243F36"/>
    <w:rsid w:val="002471D1"/>
    <w:rsid w:val="00263104"/>
    <w:rsid w:val="00266326"/>
    <w:rsid w:val="002725A3"/>
    <w:rsid w:val="00280144"/>
    <w:rsid w:val="00280A59"/>
    <w:rsid w:val="00281088"/>
    <w:rsid w:val="00290BDF"/>
    <w:rsid w:val="0029297F"/>
    <w:rsid w:val="002A2179"/>
    <w:rsid w:val="002B01BE"/>
    <w:rsid w:val="002B23FA"/>
    <w:rsid w:val="002B3C55"/>
    <w:rsid w:val="002B43DD"/>
    <w:rsid w:val="002C0129"/>
    <w:rsid w:val="002C0ED6"/>
    <w:rsid w:val="002C37C7"/>
    <w:rsid w:val="002C655E"/>
    <w:rsid w:val="002D11BD"/>
    <w:rsid w:val="002D4CBA"/>
    <w:rsid w:val="002D6370"/>
    <w:rsid w:val="002E3D13"/>
    <w:rsid w:val="003001AA"/>
    <w:rsid w:val="003076F1"/>
    <w:rsid w:val="0032038B"/>
    <w:rsid w:val="0032396C"/>
    <w:rsid w:val="00330DCB"/>
    <w:rsid w:val="0033230F"/>
    <w:rsid w:val="00332459"/>
    <w:rsid w:val="00347197"/>
    <w:rsid w:val="00352AF6"/>
    <w:rsid w:val="00356F01"/>
    <w:rsid w:val="00364A9E"/>
    <w:rsid w:val="00384F2A"/>
    <w:rsid w:val="00387E89"/>
    <w:rsid w:val="0039299F"/>
    <w:rsid w:val="00393DA4"/>
    <w:rsid w:val="003A28A3"/>
    <w:rsid w:val="003A56CB"/>
    <w:rsid w:val="003B0B95"/>
    <w:rsid w:val="003C5374"/>
    <w:rsid w:val="003D6930"/>
    <w:rsid w:val="003E395B"/>
    <w:rsid w:val="003F5AF6"/>
    <w:rsid w:val="0040297E"/>
    <w:rsid w:val="0041244A"/>
    <w:rsid w:val="00423DFD"/>
    <w:rsid w:val="0043784A"/>
    <w:rsid w:val="004408E1"/>
    <w:rsid w:val="00442599"/>
    <w:rsid w:val="00450AF9"/>
    <w:rsid w:val="00460C6D"/>
    <w:rsid w:val="0046111B"/>
    <w:rsid w:val="004655EB"/>
    <w:rsid w:val="00466BAD"/>
    <w:rsid w:val="004727DB"/>
    <w:rsid w:val="0048127B"/>
    <w:rsid w:val="004A5334"/>
    <w:rsid w:val="004A564D"/>
    <w:rsid w:val="004A7E25"/>
    <w:rsid w:val="004B3268"/>
    <w:rsid w:val="004B5BBE"/>
    <w:rsid w:val="004B73C3"/>
    <w:rsid w:val="004C1A6F"/>
    <w:rsid w:val="004D1C2C"/>
    <w:rsid w:val="004F53F8"/>
    <w:rsid w:val="00510495"/>
    <w:rsid w:val="00512865"/>
    <w:rsid w:val="0051331C"/>
    <w:rsid w:val="00517F1C"/>
    <w:rsid w:val="00532774"/>
    <w:rsid w:val="005334CF"/>
    <w:rsid w:val="00545A82"/>
    <w:rsid w:val="00574C76"/>
    <w:rsid w:val="00575EDC"/>
    <w:rsid w:val="005806F1"/>
    <w:rsid w:val="005810E5"/>
    <w:rsid w:val="00585A04"/>
    <w:rsid w:val="005955B7"/>
    <w:rsid w:val="005A4BA5"/>
    <w:rsid w:val="005A4F8D"/>
    <w:rsid w:val="005B13DD"/>
    <w:rsid w:val="005B4053"/>
    <w:rsid w:val="005B7EFB"/>
    <w:rsid w:val="005C2CD3"/>
    <w:rsid w:val="005C436D"/>
    <w:rsid w:val="005C4B23"/>
    <w:rsid w:val="005E67FC"/>
    <w:rsid w:val="005F4915"/>
    <w:rsid w:val="005F6179"/>
    <w:rsid w:val="00600234"/>
    <w:rsid w:val="00600953"/>
    <w:rsid w:val="00605425"/>
    <w:rsid w:val="0061019C"/>
    <w:rsid w:val="00621864"/>
    <w:rsid w:val="0063689E"/>
    <w:rsid w:val="0064524E"/>
    <w:rsid w:val="00646F2B"/>
    <w:rsid w:val="00650146"/>
    <w:rsid w:val="0067229C"/>
    <w:rsid w:val="00682356"/>
    <w:rsid w:val="006969DF"/>
    <w:rsid w:val="006A4735"/>
    <w:rsid w:val="006A5711"/>
    <w:rsid w:val="006B4076"/>
    <w:rsid w:val="006B43E2"/>
    <w:rsid w:val="006B72CE"/>
    <w:rsid w:val="006C7577"/>
    <w:rsid w:val="006D068A"/>
    <w:rsid w:val="006D2854"/>
    <w:rsid w:val="006D4779"/>
    <w:rsid w:val="006E0E74"/>
    <w:rsid w:val="006F0F20"/>
    <w:rsid w:val="006F3FC1"/>
    <w:rsid w:val="00702D92"/>
    <w:rsid w:val="00705662"/>
    <w:rsid w:val="007168DE"/>
    <w:rsid w:val="00717BB5"/>
    <w:rsid w:val="00723F53"/>
    <w:rsid w:val="007246A4"/>
    <w:rsid w:val="00732D7F"/>
    <w:rsid w:val="00733788"/>
    <w:rsid w:val="00734DF2"/>
    <w:rsid w:val="00736CF9"/>
    <w:rsid w:val="00741F47"/>
    <w:rsid w:val="007468A9"/>
    <w:rsid w:val="007476BE"/>
    <w:rsid w:val="0075250C"/>
    <w:rsid w:val="007715D0"/>
    <w:rsid w:val="00777032"/>
    <w:rsid w:val="0078116E"/>
    <w:rsid w:val="007A0D06"/>
    <w:rsid w:val="007A20FD"/>
    <w:rsid w:val="007B7A44"/>
    <w:rsid w:val="007C56E6"/>
    <w:rsid w:val="007D1650"/>
    <w:rsid w:val="007D4362"/>
    <w:rsid w:val="007E2641"/>
    <w:rsid w:val="007F3B10"/>
    <w:rsid w:val="007F46C1"/>
    <w:rsid w:val="007F65CC"/>
    <w:rsid w:val="00800B08"/>
    <w:rsid w:val="00803D7A"/>
    <w:rsid w:val="008127D2"/>
    <w:rsid w:val="00830D7F"/>
    <w:rsid w:val="008335BD"/>
    <w:rsid w:val="00863683"/>
    <w:rsid w:val="008645CC"/>
    <w:rsid w:val="00865796"/>
    <w:rsid w:val="008668CD"/>
    <w:rsid w:val="00885648"/>
    <w:rsid w:val="0088610C"/>
    <w:rsid w:val="008A05D3"/>
    <w:rsid w:val="008B2EE1"/>
    <w:rsid w:val="008C029A"/>
    <w:rsid w:val="008C02C8"/>
    <w:rsid w:val="008C086E"/>
    <w:rsid w:val="008C1A7C"/>
    <w:rsid w:val="008D3365"/>
    <w:rsid w:val="008D4613"/>
    <w:rsid w:val="008D5063"/>
    <w:rsid w:val="008F21AC"/>
    <w:rsid w:val="008F68FC"/>
    <w:rsid w:val="009079A5"/>
    <w:rsid w:val="00923A3B"/>
    <w:rsid w:val="00923EFB"/>
    <w:rsid w:val="00923FAD"/>
    <w:rsid w:val="009325D4"/>
    <w:rsid w:val="0093438C"/>
    <w:rsid w:val="0095215A"/>
    <w:rsid w:val="009603EF"/>
    <w:rsid w:val="0096702D"/>
    <w:rsid w:val="00967D8B"/>
    <w:rsid w:val="0098591F"/>
    <w:rsid w:val="00986680"/>
    <w:rsid w:val="009A07D1"/>
    <w:rsid w:val="009A562A"/>
    <w:rsid w:val="009C0460"/>
    <w:rsid w:val="009D02EC"/>
    <w:rsid w:val="009D04BF"/>
    <w:rsid w:val="009D1805"/>
    <w:rsid w:val="00A05B84"/>
    <w:rsid w:val="00A12B8A"/>
    <w:rsid w:val="00A17707"/>
    <w:rsid w:val="00A31019"/>
    <w:rsid w:val="00A56CF3"/>
    <w:rsid w:val="00A576A7"/>
    <w:rsid w:val="00A815D1"/>
    <w:rsid w:val="00A848D3"/>
    <w:rsid w:val="00A84EA7"/>
    <w:rsid w:val="00A94168"/>
    <w:rsid w:val="00A9785E"/>
    <w:rsid w:val="00AA2F80"/>
    <w:rsid w:val="00AA6473"/>
    <w:rsid w:val="00AB608D"/>
    <w:rsid w:val="00AB6785"/>
    <w:rsid w:val="00AC2972"/>
    <w:rsid w:val="00AE3738"/>
    <w:rsid w:val="00B27632"/>
    <w:rsid w:val="00B462B8"/>
    <w:rsid w:val="00B55512"/>
    <w:rsid w:val="00B57573"/>
    <w:rsid w:val="00B57E71"/>
    <w:rsid w:val="00B7704F"/>
    <w:rsid w:val="00B82489"/>
    <w:rsid w:val="00B85320"/>
    <w:rsid w:val="00B90301"/>
    <w:rsid w:val="00B9399C"/>
    <w:rsid w:val="00B9712B"/>
    <w:rsid w:val="00BB0942"/>
    <w:rsid w:val="00BB7E69"/>
    <w:rsid w:val="00BC2122"/>
    <w:rsid w:val="00BC3C79"/>
    <w:rsid w:val="00BC6392"/>
    <w:rsid w:val="00BD0E40"/>
    <w:rsid w:val="00BE744D"/>
    <w:rsid w:val="00BE7761"/>
    <w:rsid w:val="00BF3BB2"/>
    <w:rsid w:val="00C04425"/>
    <w:rsid w:val="00C238E7"/>
    <w:rsid w:val="00C318D0"/>
    <w:rsid w:val="00C44A42"/>
    <w:rsid w:val="00C56671"/>
    <w:rsid w:val="00C6165C"/>
    <w:rsid w:val="00C624FF"/>
    <w:rsid w:val="00C62DB5"/>
    <w:rsid w:val="00C7265F"/>
    <w:rsid w:val="00C83029"/>
    <w:rsid w:val="00C9361A"/>
    <w:rsid w:val="00C937A6"/>
    <w:rsid w:val="00C94235"/>
    <w:rsid w:val="00CA07BB"/>
    <w:rsid w:val="00CA43CD"/>
    <w:rsid w:val="00CB19DE"/>
    <w:rsid w:val="00CB73D9"/>
    <w:rsid w:val="00CC081A"/>
    <w:rsid w:val="00CE035B"/>
    <w:rsid w:val="00CF0F62"/>
    <w:rsid w:val="00CF2793"/>
    <w:rsid w:val="00CF2A88"/>
    <w:rsid w:val="00D13C48"/>
    <w:rsid w:val="00D15421"/>
    <w:rsid w:val="00D2723F"/>
    <w:rsid w:val="00D35ABF"/>
    <w:rsid w:val="00D37552"/>
    <w:rsid w:val="00D414D4"/>
    <w:rsid w:val="00D42E20"/>
    <w:rsid w:val="00D57D73"/>
    <w:rsid w:val="00D6304D"/>
    <w:rsid w:val="00D70D17"/>
    <w:rsid w:val="00D95CFD"/>
    <w:rsid w:val="00D97785"/>
    <w:rsid w:val="00DA4112"/>
    <w:rsid w:val="00DA4D5F"/>
    <w:rsid w:val="00DB2A32"/>
    <w:rsid w:val="00DC5075"/>
    <w:rsid w:val="00DD3E79"/>
    <w:rsid w:val="00DD4E4A"/>
    <w:rsid w:val="00DD5CC9"/>
    <w:rsid w:val="00DD5FEC"/>
    <w:rsid w:val="00DE2E33"/>
    <w:rsid w:val="00E053DA"/>
    <w:rsid w:val="00E05449"/>
    <w:rsid w:val="00E123DB"/>
    <w:rsid w:val="00E130F6"/>
    <w:rsid w:val="00E229FF"/>
    <w:rsid w:val="00E327B5"/>
    <w:rsid w:val="00E33888"/>
    <w:rsid w:val="00E347EA"/>
    <w:rsid w:val="00E43D3D"/>
    <w:rsid w:val="00E4582A"/>
    <w:rsid w:val="00E5342B"/>
    <w:rsid w:val="00E5677B"/>
    <w:rsid w:val="00E66724"/>
    <w:rsid w:val="00E6680C"/>
    <w:rsid w:val="00E728F4"/>
    <w:rsid w:val="00E72C2A"/>
    <w:rsid w:val="00E8446D"/>
    <w:rsid w:val="00E85BE2"/>
    <w:rsid w:val="00E86FC1"/>
    <w:rsid w:val="00E9505E"/>
    <w:rsid w:val="00E95BA6"/>
    <w:rsid w:val="00E96B02"/>
    <w:rsid w:val="00E973F3"/>
    <w:rsid w:val="00E97A19"/>
    <w:rsid w:val="00EA7D1D"/>
    <w:rsid w:val="00EC30CE"/>
    <w:rsid w:val="00EE1881"/>
    <w:rsid w:val="00EE7500"/>
    <w:rsid w:val="00EF6692"/>
    <w:rsid w:val="00F10C88"/>
    <w:rsid w:val="00F15843"/>
    <w:rsid w:val="00F3442A"/>
    <w:rsid w:val="00F62E15"/>
    <w:rsid w:val="00F67288"/>
    <w:rsid w:val="00F67983"/>
    <w:rsid w:val="00F72436"/>
    <w:rsid w:val="00F85D58"/>
    <w:rsid w:val="00F86146"/>
    <w:rsid w:val="00F868A4"/>
    <w:rsid w:val="00F91F09"/>
    <w:rsid w:val="00F96D95"/>
    <w:rsid w:val="00FA21E0"/>
    <w:rsid w:val="00FA7B0E"/>
    <w:rsid w:val="00FB5F8F"/>
    <w:rsid w:val="00FD4561"/>
    <w:rsid w:val="00FD71FB"/>
    <w:rsid w:val="00FE1C6A"/>
    <w:rsid w:val="00FE5F77"/>
    <w:rsid w:val="02FC432C"/>
    <w:rsid w:val="0B20581D"/>
    <w:rsid w:val="0E176D41"/>
    <w:rsid w:val="10092B77"/>
    <w:rsid w:val="1FBD5BC4"/>
    <w:rsid w:val="24FD75FC"/>
    <w:rsid w:val="347F7961"/>
    <w:rsid w:val="38EA5953"/>
    <w:rsid w:val="396267A1"/>
    <w:rsid w:val="3BD32260"/>
    <w:rsid w:val="400F067D"/>
    <w:rsid w:val="54BE6A79"/>
    <w:rsid w:val="5E010FB9"/>
    <w:rsid w:val="5E2E3A30"/>
    <w:rsid w:val="629A314B"/>
    <w:rsid w:val="68A36FA4"/>
    <w:rsid w:val="68E83D1C"/>
    <w:rsid w:val="7F986163"/>
  </w:rsids>
  <m:mathPr>
    <m:mathFont m:val="Cambria Math"/>
    <m:brkBin m:val="before"/>
    <m:brkBinSub m:val="--"/>
    <m:smallFrac m:val="0"/>
    <m:dispDef/>
    <m:lMargin m:val="0"/>
    <m:rMargin m:val="0"/>
    <m:defJc m:val="centerGroup"/>
    <m:wrapIndent m:val="1440"/>
    <m:intLim m:val="subSup"/>
    <m:naryLim m:val="undOvr"/>
  </m:mathPr>
  <w:themeFontLang w:val="zh-CN" w:eastAsia="zh-CN"/>
  <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3" w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
  <w:shapeDefaults>
    <o:shapedefaults fillcolor="#FFFFFF" fill="t" stroke="t">
      <v:fill on="t" focussize="0,0"/>
      <v:stroke color="#000000"/>
    </o:shapedefaults>
    <o:shapelayout v:ext="edit">
      <o:idmap v:ext="edit" data="2"/>
    </o:shapelayout>
  </w:shapeDefaults>
</w:settings>
