<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <Template>Normal</Template>
  <Pages>19</Pages>
  <Words>14374</Words>
  <Characters>81932</Characters>
  <Lines>682</Lines>
  <Paragraphs>192</Paragraphs>
  <TotalTime>364</TotalTime>
  <ScaleCrop>false</ScaleCrop>
  <LinksUpToDate>false</LinksUpToDate>
  <CharactersWithSpaces>96114</CharactersWithSpaces>
  <Application>WPS Office_12.2.0.23203_F1E327BC-269C-435d-A152-05C5408002CA</Application>
  <DocSecurity>0</DocSecurity>
</Properties>
